
body {
	font-family: sans-serif;
	font-size: 14px;
	text-align: justify;
	line-height: 23px;
}



h1 {    background-color: #5F9EA0;
	text-align: center;
	font-style: italic;
}


h2 {    background-color: #5F9EA0;
	font-weight: normal;
	text-decoration: underline;
}



